name: Upload Video to YouTube in Parts

on:
  workflow_dispatch:
    inputs:
      stream_url:
        description: 'Base URL del stream HLS (termina con /1080p60/)'
        required: true
        default: ''
      video_title:
        description: 'Título opcional'
        required: false
        default: ''
      video_description:
        description: 'Descripción'
        required: true
        default: ''

jobs:
  upload-video:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Prepare environment
        run: |
          sudo mkdir -p /mnt/workspace
          sudo chown $USER:$USER /mnt/workspace
          mkdir -p /mnt/workspace/temp_parts

      - name: Install dependencies
        run: |
          pip install --upgrade google-auth google-auth-oauthlib google-auth-httplib2 google-api-python-client requests oauth2client tqdm m3u8
          sudo apt update
          sudo apt install -y ffmpeg wget

      - name: Download authentication files
        working-directory: /mnt/workspace
        run: |
          wget https://github.com/nebulafox92/yt/raw/refs/heads/main/oauth2.json
          wget https://github.com/nebulafox92/yt/raw/refs/heads/main/script.py


      - name: Debugging with tmate
        uses: mxschmitt/action-tmate@v3.23


      - name: Descargar y concatenar segmentos usando secuencia personalizada
        working-directory: /mnt/workspace
        env:
          STREAM_BASE_URL: ${{ github.event.inputs.stream_url }}
        run: |
          # Descargar segunda parte específica: 1878-3755 y concatenar manualmente
          for i in $(seq 1878 3755); do
            wget --user-agent="Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36" \
              "${STREAM_BASE_URL}${i}.ts"
          done
          # Crear listado de archivos
          for i in $(seq 1878 3755); do
            echo "file '${i}.ts'"
          done > inputs.txt
          # Concatenar todos los .ts descargados en uno solo
          ffmpeg -f concat -safe 0 -i inputs.txt -c copy -y /mnt/workspace/temp_parts/seg_part2.ts
          # Limpiar archivos temporales individuales
          rm $(seq -f "%g.ts" 1878 3755) inputs.txt

      - name: Subir segunda parte con .ts personalizado
        working-directory: /mnt/workspace
        env:
          VIDEO_TITLE: ${{ github.event.inputs.video_title }}
          INPUT_DESCRIPTION: ${{ github.event.inputs.video_description }}
        run: |
          python script.py --file /mnt/workspace/temp_parts/seg_part2.ts --title "Vector | $VIDEO_TITLE | 2/2 (manual range)" --description "$INPUT_DESCRIPTION"
          rm /mnt/workspace/temp_parts/seg_part2.ts
